#calc {
position: relative;
width: 180px;
height: 247px;
margin: 0px auto 0px auto;
color: #000;
}
#calc-corpse {
position: relative;
width: 180px;
height: 240px;
padding-top: 10px;
background-color: rgba(1, 17, 238, 0.747);
border: 1px solid rgba(0, 0, 0, 0.747);
border-radius: 10%;
}
#display{
position: relative;
width: 145px;
height: 37px;
padding: 5px;
margin: 0 auto;
background-color: rgba(255, 255, 255, 1);
border-radius: 10px 10px;
justify-content: flex-end;
align-items: center;
display: flex;
}
#buttons{
position: relative;
width: 180px;
height: 180px;
padding-top: 10px;
margin: 0 auto;
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
#buttons .button{
position: relative;
width: 24px;
height: 20px;
padding: 5px;
margin: 2px;
background-color: rgba(255, 255, 255, 1);
text-align: center;
font-size: 18px;
font-weight: 400;
font-family: monospace;
list-style: none;
border-radius: 25%;
}
#buttons .button:hover{
background-position: 0 -27px;
cursor: pointer;
}
#buttons .button:active{
background-position: 0 -54px;
cursor: pointer;
}
